name: Docker build -> push -> deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

      # 1️⃣ Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Setup Java
      - name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      # 3️⃣ Build jar (skip tests)
      - name: Build jar
        run: ./mvnw clean package -DskipTests

      # 4️⃣ Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 5️⃣ Build Docker Image
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/task-spring-boot:latest .

      # 6️⃣ Push Image
      - name: Push image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/task-spring-boot:latest
